/*HOME PAGE STYLE*/

html {
    font-family:'Roboto', sans-serif;
    font-size:18px;
    background-color: whitesmoke;
}
body {
    width: auto;
    margin: 0px 20px;
    border: 1px dotted rgb(255, 255, 255);
    padding: 20px 35px;
    background-color: rgb(252, 252, 252);
}

#firsttitle {
    color:rgb(170, 41, 41);
    text-shadow: 2px 3px 3px grey;
    font-size:36px;
    text-align:center;
    letter-spacing: 5px;
    margin: 25px 0px;
    padding: 15px;
    background-color:whitesmoke
}
h2,h3,h4 {
    color:grey;
    font-size:22px;
    text-align:center
}
img {
    display:block;
    margin:0 auto;
}
p,ul,ol {
    color:rgb(59, 57, 58);
    line-height: 1.8;
    letter-spacing: 0.6px;
}
#welcome-message {
    font-style: italic;
    font-size:16px
}
a:hover {
    color:rgb(238, 232, 235);
    background-color:grey
}
img:hover {
    width:510px
}
#myfirstbutton {
    font-family: 'Roboto';
    font-size: 18px;
    display:block;
    margin: 0 auto;
    padding: 10px;
}

#menu {
    display:flex;
    list-style-type:none;
    margin:0px;
    }
    #menu1 {
        padding:5px 15px;
        border:1px solid white;
        background-color:whitesmoke;
    }
    #menu2 {
        padding:5px 15px;
        border:1px solid white;
        background-color:whitesmoke;
    }
    #menu3 {
        padding:5px 15px;
        border:1px solid white;
        background-color:whitesmoke;
    }
    #menu4 {
        padding:5px 15px;
        border:1px solid white;
        background-color:whitesmoke;
    }